body {
    font-family: Arial, sans-serif;
}

table {
    border: rgb(255, 102, 0) 5px solid;
    border-collapse: collapse;
}

thead td, th {
    border: 1px dashed black;
    padding: 5px;
}

thead tr th:last-child, thead tr td:first-child {
    text-align: left;
    vertical-align: top;
}

thead td, tbody tr:last-child {
    border-bottom: 3px solid black;
}

tbody tr:first-child {
    border-bottom: 2px solid black;
    background-color: darkorange;
}

tbody th, td {
    border: 1px solid black;
    padding: 5px;
}

tfoot tr td:last-child,
tbody tr td:nth-last-child(2),
tbody tr td:last-child {
    text-align: right;
}

tbody tr:nth-child(4),
tbody tr:nth-child(2) {
    background-color: rgb(255, 175, 27);
}

img {
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

thead tr th, tfoot {
    color: rgb(255, 102, 0);
}

span {
    font-weight: bold;
    font-style: italic;
    text-decoration-line: underline;
}
